html {
    --primary-color: #1779c4;
    --primary-dark-color: #335c80;
    --primary-light-color: #70b1e9;
    --primary-lighter-color: #c1d8e9;
    --primary-lightest-color: #e5f1f9;
    --side-nav-fixed-width: 320px;
    --content-maxwidth: 1100px;
}

.darkmode_inverted_image {
    filter: none;
}
